.checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
    span {
      margin-left: 5px;
      font-weight: normal;
    }
  }
  
#session_remember_me {
  width: auto;
  margin-left: 0;
}

#downhere
{
  position: absolute;
  bottom: 0;
  left: 38%;
  width : 300px;
  text-align: center;
}